body {
    padding: 20px;
    font-family: 'Asap', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(89,228,213,1) 51%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

#view {
    text-align: center;
}
.header {
    /* padding-left: 30px; */
    position: relative;
    max-width: 840px;
    margin-top: .5em;
    margin-bottom: 1.5em;
    letter-spacing: -1px;
    line-height: 1.7;
    font-size: 1.5rem;
    font-weight: 0px;
}

h1 {
    color: rgb(43, 103, 104);
}

h2 {
    color: rgb(43, 103, 104);
}

h3 {
    text-align: center;
}
h1:hover {
    text-decoration: underline;
}
#image {
    margin-left: 0px;
    height: 90px;
}
.nav {
    /* display: flex; */
    text-decoration: none;
}
ul {
    text-decoration: none;
}
.top-row {
   display: flex;
   justify-content: space-evenly;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
} 

.skills-section {
    height: 350px;
}

.skills-row {
    padding: 10px;
    margin: 0px;
    width: 100%;

}
.logo-row {
    
    padding: 50px 0px 0px 0px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    
}

.logo-img {
    padding: 50px 0px 0px 0px;
    height: 100px;
}

.logo-img:hover {
    transition: all .2s ease;
    transform: translateY(-2px);
    box-shadow: 0 4px 2px -2px gray;
}
#first-box {
    border: 2px solid;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    transition: all .2s ease;
    transform: translateY(0);
}

#first-box:hover {
    transition: all .2s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(10, 10, 10, 0.803)
}

#tea-tree {
    display: block;
    position: relative;
    height: 450px;
    width: 500px;
    margin-top: -19px;
    margin-right: 0px;
}
#second-box {
    border: 2px solid;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    transition: all .2s ease;
    transform: translateY(0);
}

#second-box:hover {
    transition: all .2s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(10, 10, 10, 0.803)
}

#furry {
    display: block;
    position: relative;
    height: 450px;
    width: 500px;
    margin-top: -19px;
}

#third-box {
    border: 2px solid;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    transition: all .2s ease;
    transform: translateY(0);
}

#third-box:hover {
    transition: all .2s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(10, 10, 10, 0.803)
}

#fourth-box {
    border: 2px solid;
    height: 500px;
    width: 500px;
    background-color: whitesmoke;
    transition: all .2s ease;
    transform: translateY(0);
}

#fourth-box:hover {
    transition: all .2s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(10, 10, 10, 0.803)
}

#hang {
    display: block;
    position: relative;
    height: 450px;
    width: 500px;
    margin-top: -19px;
    margin-right: 0px;
}

#weather {
    display: block;
    position: relative;
    height: 450px;
    width: 500px;
    margin-top: -19px;
    margin-right: 0px;
}